body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible{
    display: flex;
    margin-bottom: 150px;
}
.color-orange{
    color: rgb(23, 152, 226);
}
h1{
    font-size: 80px;
}
#first-two{
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( cyan, rgb(17, 151, 192));
    color: white;
    font-weight: 700;
    border-radius: 15px;
    padding: 10px 15px;
}
.half-width img{
    width: 80%;
}
.background{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 1350px;
}
.favourites{
    text-align: center;
}
.flexible-two{
    display: flex;
    width: 95%;
    padding-left: 5px;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 150px;
}
.flexible-two img{
    width: 60%;
    border-radius: 40px;
    padding: 5%;
}
.header{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}
.items{
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
}